.card{
  margin: 5px;
  border-radius: 2;
  box-shadow: 0 0 16px rgba(0, 0, 0, .25);
}

.wrapper{

width: 100%;

}
.card{
}
.card_body{
  padding: 0.5rem;
}
.card_pic{
  width: 100%;
  height: 400px;
  object-fit:cover;
}
.card_title, .card_text{
}